@import "tailwindcss";

#root {
    overflow: hidden;
}

.raj button:hover{
    background-color: darkslategrey;
}
.classs{
    width: 100%;
    height: 100vh;
    background: #000;
    color: #fff;
}